{% extends 'base.html.twig' %}

{% block body %}

    <div class="center">
        <img src="assets/img/ams2.png" height="120">
        <h1 class="bigh1">Connectez-vous</h1>
        <h4>pour accéder à la liste des membres</h4>
    </div>

    {% if error %}
        <div class="alert alert-danger">
            <ul class="list-unstyled mb-0">
                <li><span class="initialism form-error-icon badge badge-danger">Error</span> 
                    <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </li>
            </ul>
        </div>
    {% endif %}
    <div class="form-container">
    {{form(form)}}
    <p><a href="{{path('password')}}">Mot de passe oublié ?</a></p>
    </div>

{% endblock %}