{% extends 'base.html.twig' %}

{% block body %}
    <div class="center">
        <img src="assets/img/ams2.png" height="120">
        <h1 class="bigh1">Inscrivez-vous</h1>
    </div>

    <div class="form-container">
    {{form(form)}}
    </div>
{% endblock %}