{% extends 'base.html.twig' %}

{% block body %}

<h4 class="homepage-title">Bienvenue !</h4>
<img class="homepage-img1" src="https://media.giphy.com/media/xT39DiMXULy6BJswb6/giphy.gif">
{% endblock %}