/*base*/
@import url('https://fonts.googleapis.com/css?family=Aleo');

html {
  height: 100%;
}

body {
	/*background: url('../img/fondec.png');*/
	/*background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(4, 47, 104, 0.7), rgba(0,0,0,0.7));*/
	background: url('../img/back.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
  	margin: 0;
	  padding: 0;
	  font-family: 'Aleo', serif;
}

footer {
	position: fixed; 
	background:linear-gradient(to right, black, rgb(4, 47, 104), black);
	border:none;
	color:white;
	bottom: 0;
	left: 0; 
	right: 0;
	padding: 5px;
	font-size: 15px !important;
	text-align: center;
}


.bck1 {
	background: rgba(255,255,255,0.5);
	height:100%;
	padding-bottom:30px!important;
}

/*generique*/
.padded {
	padding: 15px;
}

/*header*/
header#header {
	margin-bottom: 20px;
	padding: 5px;
}
header#header h1 {
	text-align: center;
	color: grey;
}

.logo {
	padding:10px;
	font-size: 50px;
	text-align: left;
	background:linear-gradient(to right, black, rgb(4, 47, 104), black);
	color:white;
}

.M {
	font-weight: bold;
	color: red;
}

.A {
	font-weight: bold;
	color: yellow;
}

.homepage-title {
	text-align: center;
}

.homepage-img1 {
	margin: auto;
	display: block;
}

nav#main-nav {
	position: absolute;
	top: 45px;
	left: 190px;
	background: transparent;
	color: white!important;
	font-size:20px;
	width:calc(100%-190px)!important;
}

ul>li>a {
	color:white;
}

ul>li>a:hover {
	color:yellow;
	font-size:21px;
}

.center {
	text-align:center;
}

.bigh1 {
	font-size:53px;
}

.form-container {
	max-width:600px;
	margin: 0 auto;
}

.form-container button {
	background:linear-gradient(to right, black, rgb(4, 47, 104), black);
	border-color:black;
}
.form-container button:hover {
	opacity:0.8;
	border-color:white;
}