/*base*/
@import url('https://fonts.googleapis.com/css?family=Aleo');

html {
  height: 100%;
}

body {
	background: url('../img/fondec.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
  	margin: 0;
	  padding: 0;
	  font-family: 'Aleo', serif;
}

footer {
	position: fixed; 
	background:linear-gradient(to right, black, #A899DB, black);
	border:none;
	color:white;
	bottom: 0;
	left: 0; 
	right: 0;
	padding: 10px;
	font-size: 15px !important;
	text-align: center;
}


.bck1 {
	background: rgba(255,255,255,0.7);
}

/*generique*/
.padded {
	padding: 15px;
}

/*header*/
header#header {
	margin-bottom: 20px;

	padding: 10px;
}
header#header h1 {
	text-align: center;
	color: grey;
}

.logo {
	padding:20px;
	font-size: 50px;
	text-align: center;
	background:linear-gradient(to right, black, #A899DB, black);
	color:white;
	margin-bottom: 30px;
}

.M {
	font-weight: bold;
	color: red;
}

.A {
	font-weight: bold;
	color: yellow;
}

.homepage-title {
	text-align: center;
}

.homepage-img1 {
	margin: auto;
	display: block;
}