{% extends 'base.html.twig' %}

{% block body %}
<h4 class="homepage-title"><em>"Quelle jouissance de se retrouver avec corps de pucelle !"</em></h4>
<br>
<img class="homepage-img1" src="https://media.giphy.com/media/11UtKebpKzpDRC/giphy.gif">
{% endblock %}