{% extends 'base.html.twig' %}

{% block body %}

    <div class="padded center">
        <p>Un e-mail vous a été envoyé à l'adressse <b>{{email_user}}</b> pour réinitialiser votre mot de passe.</p>
        
        <a href="{{path('app_homepage_index')}}">Retour à la page d'accueil.</a>
    </div>

{% endblock %}