<h3>Demande de réinitialisation de mot de passe</h3>

Vous avez demandé un nouveau mot de passe sur le site <b>AM Security</b>.<br>

Veuillez noter votre nouveau mot de passe :<br><br> {{ newpass }}
<br><br>
<hr>Alice & Melmo
