{% extends 'base.html.twig' %}

{% block body %}

    <div class="center">
        <img src="assets/img/ams2.png" height="120">
        <h2 class="bigh1">Entrez votre adresse mail</h2>
        <h5>pour redéfinir votre mot de passe.</h5>
    </div>

    {{ form_start(form, {attr: {class: 'form-container'} }) }}
    {{form_end(form)}}

{% endblock %}